/*section {
  text-align: center;
}

#resultsForm label {
  display: inline;
}*/

#inputForm, #results {
  padding: 2em 10%;
}

fieldset {
  align-self: center;
}
#aboutTheTeam{
  position: absolute;
  width: 100%;
}

#row1 {
  display: -webkit-box;
}

#row2 {
  display: -webkit-box;
}

/*.row {
  padding-left: 20%;
}*/

.rowFooter {
  text-align: center;
}
