section {
  background-color: #000201 ;
  font-size: 18px ;
  font-style: ;
  font-family: Metal Mania ;
}

#navBar {
  width: 550px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
}

#navBar ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    text-align: center;
}

#navBar li {
display: inline;
padding: 20px;
}

#navBar a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#navBar a:hover {
    color: #F90;
    background-color: #FFF;
}

/*all images/animations/box sizes*/

