section {
  background-color: #000201 ;
  font-size: 18px ;
  font-style: ;
  font-family: Metal Mania ;
}

#navBar {
  width: 550px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
}

#navBar ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    text-align: center;
}

#navBar li {
display: inline;
padding: 20px;
}

#navBar a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#navBar a:hover {
    color: #F90;
    background-color: #FFF;
}

/*all images/animations/box sizes*/
/***********Brandon's Photo Animation***********/
@-webkit-keyframes shakeit {
  0% { -webkit-transform: rotate(0deg) translate(2px, 1px); }
  10% { -webkit-transform: rotate(2deg) translate(1px, 2px); }
  20% { -webkit-transform: rotate(-2deg) translate(3px, 0px) ; }
  30% { -webkit-transform: rotate(0deg) translate(0px, -2px); }
  40% { -webkit-transform: rotate(-2deg) translate(-1px, 1px); }
  50% { -webkit-transform: rotate(2deg) translate(1px, -2px); }
  60% { -webkit-transform: rotate(0deg) translate(3px, -1px); }
  70% { -webkit-transform: rotate(2deg) translate(-2px, -1px); }
  80% { -webkit-transform: rotate(-2deg) translate(1px, 1px); }
  90% { -webkit-transform: rotate(0deg) translate(-2px, -2px); }
  100% { -webkit-transform: rotate(2deg) translate(-1px, 2px); }
}
@keyframes shakeit {
  0% { transform: rotate(0deg) translate(2px, 1px); }
  10% { transform: rotate(2deg) translate(1px, 2px); }
  20% { transform: rotate(-2deg) translate(3px, 0px) ; }
  30% { transform: rotate(0deg) translate(0px, -2px); }
  40% { transform: rotate(-2deg) translate(-1px, 1px); }
  50% { transform: rotate(2deg) translate(1px, -2px); }
  60% { transform: rotate(0deg) translate(3px, -1px); }
  70% { transform: rotate(2deg) translate(-2px, -1px); }
  80% { transform: rotate(-2deg) translate(1px, 1px); }
  90% { transform: rotate(0deg) translate(-2px, -2px); }
  100% { transform: rotate(2deg) translate(-1px, 2px); }
}
.shakeit img:hover {
  -webkit-animation-name: shakeit;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: shakeit;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/***********Carson's Photo Animation***********/

.imageCarson:hover {
-webkit-box-shadow: 0px 0px 15px 15px #fff;
box-shadow: 0px 0px 15px 15px #fff;
border-radius:50%;
opacity: 0.6;
-webkit-transform: rotate(720deg);
transform: rotate(720deg);
}
.imageCarson {
opacity: 1;
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

/***********Melissa's Photo Animation***********/
.carddiv {
  width:250px; height:250px; position:relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 100% 75px;
  -webkit-transition: all 0.7s ease;
  transform-style: preserve-3d;
  transform-origin: 100% 75px;
  transition: all 0.7s ease;
  }
  .containerMelissa:hover .carddiv {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  }
  .frontofcard, .backofcard {
  width:250px; height:250px; position:absolute; left:0;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  }
  .backofcard {
  padding-top:50px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/***********Sawako's Photo Animation***********/
  .containerSawako {
  position:relative;
  }
  .containerSawako .textbox {
  width:250px;
  height:250px;
  position:absolute;
  top:0;
  left:0;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius:5px;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
  }
  .containerSawako:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
  }
  .text {
  padding-top: 50px;
  }
  .textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  }
#brandonResize{
  width: 250px;
  height: 250px;
}
#carsonResize{
  width: 250px;
  height: 250px;
}
#melissasImage{
  width: 250px;
  height: 250px;
}
#sawakoPhoto{
  width: 250px;
  height: 250px;
}
