/*header animation (all pages?) http://codepen.io/william-index/pen/pvBXVm*/

/*header {
  font-family: 'Metal Mania',
}
*/

body {
  background-color: ;
  color: ;
  font-size: ;
  font-style: ;
  font-family: ;
}

/*all images/animations/box sizes*/

